<a href="https://colab.research.google.com/github/leenago/mi_edu/blob/master/200818_%EB%94%A5%EB%9F%AC%EB%8B%9D1%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 개요
---

### 1) 패키지 불러오기

In [ ]:
import sklearn

In [ ]:
print(sklearn.__version__)

0.22.2.post1

### 2) 내장데이터 불러오기
 - sklearn 패키지 내장 데이터가 있음.

In [ ]:
from sklearn.datasets import load_iris

iris = load_iris()  # Bunch 형태의 데이터셋으로 구성되어 있음


# 독립변수로만 구성된 데이터
iris_data = iris.data

# 종속변수
iris_label = iris.target
print('iris target 값:', iris_label[[0,50,100]])
print('iris target 명:', iris.target_names)  # 꽃 분류하는 작업

## -> 가고자하는 업종의 데이터를 가지고 분류작업을 해보는 것이 굉장히 중요함

iris target 값: [0 1 2]
iris target 명: ['setosa' 'versicolor' 'virginica']

### 3) 데이터 전처리
- 상황: Numpy형태/list 형태의 데이터를 갖고 있음.
- 방법: Pandas를 활용해서 DataFrame 만들기.
- ref. 'How to convert a Scikit-learn dataset to a Pandas dataset?'

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(iris_data)

In [ ]:
df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]